/* mat-grid-list {
	margin: 2rem;
}

mat-grid-tile {
	display: flex;
	align-items: center;

}

mat-card-title {
	text-align: center;
	border-bottom: 1px solid black;
}

mat-card-content {
	display: flex;
	justify-content: center;

}
img {
	margin: 1rem;
	max-width: 80%;
	max-height: 80%;
}

mat-card {
	margin: 2;
	padding: 1rem;
	width: 90%;
	height: 90%;
} */


.search {
	display: flex;
	justify-content: center;
}

.outer {
	margin: 1rem;
}

mat-form-field {
	width: 80%;
	margin: 1rem;
}

mat-card {
	width: 90%;
	display: flex;
	align-items: center;
}

img {
	max-height: 20vh;
	max-width: 100%;
}

mat-card-content {
	height: 20vh;
}

mat-card-header {
	height: 20vh;
}